<accordion-group [isOpen]="isFirstOpen" panelClass="bg-light">

  <div accordion-heading class="navbar-brand">
    1. Session
  </div>
  <div class="col-md-12">
       <div class="row">
         <ul class="navbar-nav mr-auto">
           <li>
             <a class="nav-link" href="#" (click)='displayNewSessionCode()'>
               <i class="fa fa-arrow-right faa-horizontal animated" *ngIf="nextStepToProcess() === 'CreateSession'"></i>
               Create New Session
             </a>
             <a class="nav-link" href="#" (click)='displayInitApiFrameworkCode()'>
               <i class="fa fa-arrow-right faa-horizontal animated" *ngIf="nextStepToProcess() === 'CreateAPIFramework'"></i>
               Create & Init API framework
             </a>
             <a class="nav-link" href="#" (click)='updateModuleDefinitions($event)'>
               Update Module Definitions
             </a>
           </li>
         </ul>
       </div>
  </div>
</accordion-group>

<accordion-group [isOpen]="nextStepToProcess() === 'CreateDashboard'" panelClass="bg-light">
  <div accordion-heading class="navbar-brand">
    2. Create or open Dashboard
  </div>

  <div class="col-md-12">
       <div class="row">
         <ul class="navbar-nav mr-auto">
           <li>
             <a class="nav-link" href="#" (click)='displayOpenDashboardCode()'>
               <i class="fa fa-arrow-right faa-horizontal animated" *ngIf="nextStepToProcess() === 'CreateDashboard'"></i>
               Open Dashboard
             </a>
             <a class="nav-link" href="#" (click)='displayCreateDashboardCode()'>
               Create Dashboard
             </a>
           </li>
         </ul>
       </div>
  </div>
</accordion-group>

<accordion-group panelClass="bg-light">
  <div accordion-heading class="navbar-brand">
    3. Work with Dashboard
  </div>
  <div class="col-md-12">
    <div class="row">
      <ul class="navbar-nav">

        <li>
          <a class="nav-link" href="#" (click)='addSourcesToDashboard()'>
            Add sources to dashboard
          </a>
          <a class="nav-link" href="#" (click)='setDashboardEditMode()'>
            Set Dashboard Mode
          </a>
          <a class="nav-link" href="#" (click)='undoLastAction()'>
            Undo Last Action
          </a>
          <a class="nav-link" href="#" (click)='redoLastAction()'>
            Redo Last Action
          </a>
        </li>

      </ul>
    </div>
  </div>
</accordion-group>
