
<div class="col-md-12">
  <div class="row">
    <ul class="navbar-nav">
      <li>
        <a class="nav-link" href="#" (click)='addDb2SampleSourceToDashboard()'>
          Add DB2 sample source
        </a>
        <a class="nav-link" href="#" (click)='addProtectedDb2SampleSourceToDashboard()'>
          Add Protected DB2 sample source
        </a>
        <a class="nav-link" href="#" (click)='addCSVSampleSourceToDashboard()'>
          Add CSV sample source
        </a>
      </li>
    </ul>
  </div>

</div>
