<accordion-group [isOpen]="isFirstOpen" panelClass="bg-light">

  <div accordion-heading class="navbar-brand">
    1. Set up an API framework
  </div>
  <div class="col-md-12">
       <div class="row">
         <ul class="navbar-nav mr-auto">
           <li>
             <a class="nav-link" [ngClass]="{'current-selection': currentSelection === 'CreateSession'}" href="#" (click)='displayNewSessionCode()'>
               <i class="fa fa-arrow-right faa-horizontal animated" *ngIf="nextStepToProcess() === 'CreateSession'"></i>
               Create a session for the API
             </a>
             <a class="nav-link" [ngClass]="{'current-selection': currentSelection === 'CreateAPIFramework'}" href="#" (click)='displayInitApiFrameworkCode()'>
               <i class="fa fa-arrow-right faa-horizontal animated" *ngIf="nextStepToProcess() === 'CreateAPIFramework'"></i>
               Create & Init API framework
             </a>
             <a class="nav-link" href="#" (click)='updateModuleDefinitions($event)'>
               Update Module Definitions
             </a>
           </li>
         </ul>
       </div>
  </div>
</accordion-group>

<accordion-group [isOpen]="nextStepToProcess() === 'CreateDashboard'" panelClass="bg-light">
  <div accordion-heading class="navbar-brand">
    2. Open or Create Dashboard
  </div>

  <div class="col-md-12">
       <div class="row">
         <ul class="navbar-nav mr-auto">
           <li>
             <a class="nav-link" [ngClass]="{'current-selection': currentSelection === 'OpenDashboard'}" href="#" (click)='displayOpenDashboardCode()'>
               <i class="fa fa-arrow-right faa-horizontal animated" *ngIf="nextStepToProcess() === 'CreateDashboard'"></i>
               Open Dashboard
             </a>
             <a class="nav-link" [ngClass]="{'current-selection': currentSelection === 'CreateDashboard'}" href="#" (click)='displayCreateDashboardCode()'>
               Create Dashboard
             </a>
           </li>
         </ul>
       </div>
  </div>
</accordion-group>

<accordion-group [isOpen]="nextStepToProcess() === 'AddCSVSource'" panelClass="bg-light">
  <div accordion-heading class="navbar-brand">
    3. Interact with Dashboard
  </div>
  <div class="col-md-12">
    <div class="row">
      <ul class="navbar-nav">

        <li>
          <a class="nav-link" [ngClass]="{'current-selection': currentSelection === 'AddCSVSource'}" href="#" (click)='addSourcesToDashboard()'>
            Add sources to dashboard
          </a>
          <a class="nav-link" [ngClass]="{'current-selection': currentSelection === 'DashboardEditMode'}" href="#" (click)='setDashboardEditMode()'>
            Set Dashboard Mode
          </a>
          <a class="nav-link" [ngClass]="{'current-selection': currentSelection === 'UndoLastAction'}" href="#" (click)='undoLastAction()'>
            Undo Last Action
          </a>
          <a class="nav-link" [ngClass]="{'current-selection': currentSelection === 'RedoLastAction'}" href="#" (click)='redoLastAction()'>
            Redo Last Action
          </a>
          <a class="nav-link" [ngClass]="{'current-selection': currentSelection === 'GetDashboardSpec'}" href="#" (click)='getDashboardSpec()'>
            Get Dashboard Spec
          </a>
          <a class="nav-link" [ngClass]="{'current-selection': currentSelection === 'ClearDirtyState'}" href="#" (click)='clearDirtyState()'>
            Clear Dashboard Dirty State
          </a>
        </li>

      </ul>
    </div>
  </div>
</accordion-group>
