<accordion-group panelClass="bg-light">
  <div accordion-heading class="navbar-brand">
    Reference
  </div>

  <div class="col-md-12">
    <div class="row">
      <ul class="navbar-nav">
        <li>
          <a class="nav-link" href="" target="_blank">
            Create Your Instance <i class="fa fa-link float-right" ></i>
          </a>
          <a class="nav-link" href="https://github.ibm.com/GearBox/DDE-ang-node-test" target="_blank">
            Github Repository <i class="fa fa-link float-right" ></i>
          </a>
          <a class="nav-link" href="" target="_blank">
            DevWorks Community <i class="fa fa-link float-right" ></i>
          </a>
          <a class="nav-link" href="https://console.stage1.bluemix.net/catalog/services/dynamic-dashboard-embedded" target="_blank">
            Getting Started Documentation <i class="fa fa-link float-right" ></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</accordion-group>
