<div class="references">
  <a class="nav-link" href="" target="_blank">
    Ready to create your own instance? <svg-icon class="link-image" src="../assets/images/link_16.svg"></svg-icon>
  </a>
  <a class="nav-link" href="https://console.stage1.bluemix.net/catalog/services/dynamic-dashboard-embedded" target="_blank">
    Review getting started documentation <svg-icon class="link-image" src="../assets/images/link_16.svg"></svg-icon>
  </a>
  <a class="nav-link" (click)="showVideo()">
    Watch the overview video <svg-icon class="link-image" src="../assets/images/link_16.svg"></svg-icon>
  </a>
  <a class="nav-link" href="" target="_blank">
    Join the DevWorks Community <svg-icon class="link-image" src="../assets/images/link_16.svg"></svg-icon>
  </a>
  <a class="nav-link" href="https://github.ibm.com/GearBox/DDE-ang-node-test" target="_blank">
    Check out this demo's code on Github <svg-icon class="link-image" src="../assets/images/link_16.svg"></svg-icon>
  </a>
</div>
