.toaster {
  background-color: #fff;
  position: relative;
  box-shadow: 0 0 20px rgba(0,0,0,.7);
  width: 600px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  margin-left: 100px;
}

.toaster-message {
  padding-left: 10px;
  color: #000;
}

.success-image {
  fill: #00aa5e;
}

.error-image {
  fill: #e62325;
}

.warning-image {
  fill: #fe8500;
}

.close-image {
  float: right;
  cursor: pointer;
}

.close-image:hover {
  fill: #a6a5a6;
}
