.toaster {
  position: relative;
  box-shadow: 0 0 20px rgba(0,0,0,.7);
  width: 600px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  margin-left: 100px;
}

.fa-check-circle:before {
  font-size: 15px;
  color: #00aa5e;
}

.fa-exclamation-circle {
  font-size: 15px;
  color: #e62325;
}

.fa-exclamation-triangle {
  font-size: 15px;
  color: #fe8500;
}

.fa-times {
  float: right;
}

.toaster-message {
  padding-left: 10px;
  color: #000;
}
