<div bsModal #lgModal="bs-modal" class="modal fade" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" [config]="{'backdrop':'static', 'keyboard': false}" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Welcome</h4>
        <svg-icon class="close-image" src="../assets/images/close_16.svg" (click)="hideModal()"></svg-icon>
      </div>
      <div class="modal-body">
        <video #ddeVideo autoplay controls class="embed-responsive-item">
          <source src="../../assets/DDE.mp4" type="video/mp4">
        </video>
        <input class="checkbox" type="checkbox" (change)=toogleVideo($event)> Do not display again
      </div>
    </div>
  </div>
</div>
