<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Welcome</h4>
        <i class="fa fa-times" (click)="hideModal()"></i>
      </div>
      <div class="modal-body">
        <video autoplay loop class="embed-responsive-item">
          <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
</div>
