<div bsModal #lgModal="bs-modal" class="modal fade" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Welcome</h4>
        <i class="fa fa-times" (click)="hideModal()"></i>
      </div>
      <div class="modal-body">
        <video #ddeVideo autoplay controls class="embed-responsive-item">
          <source src="../../assets/dashboard.mp4" type="video/mp4">
        </video>
        <input class="checkbox" type="checkbox" (change)=toogleVideo($event)> Do not display again
      </div>
    </div>
  </div>
</div>
