<pre *ngIf="codeType === 'None'">
  <div class='none-state'>
    <svg-icon class="steps-icons" src="../assets/images/table_128.svg"></svg-icon>
    <span class="title">Missing: API code</span>
    <span>Select an API and the code will appear here.</span>
    <span>You can Run or Copy the code.</span>
  </div>
</pre>

<pre *ngIf="codeType === 'CreateSession'" class="line-numbers">
  <code class="language-javascript">
    const response = await
        this.http.post('/api/dde/session',
          options).toPromise();

      const data = response.json();
      this.session.code = data.sessionCode;
      this.session.id = data.sessionId;
      this.session.keys = data.keys.map(
        k => new SessionKey(k));
  </code>
</pre>

<pre *ngIf="codeType === 'CreateAPIFramework'"  class="line-numbers">
  <code class="language-javascript">
    this.api = new CognosApi({{ '{' }}
      cognosRootURL: '{{ cognos_url }}',
      sessionCode: this.session.code,
      initTimeout: 10000,
      node: document.getElementById(
        'ddeDashboard')
    });

    await this.api.initialize();
  </code>
</pre>

<pre *ngIf="codeType === 'CreateDashboard'"  class="line-numbers">
  <code class="language-javascript">
    this.dashboardAPI =
      await this.api.dashboard.createNew();
  </code>
</pre>

<pre *ngIf="codeType === 'OpenDashboard'"  class="line-numbers">
  <code class="language-javascript">
    await this.getDashboardSampleSpec();
    this.dashboardAPI = await
      this.api.dashboard.openDashboard({{ '{' }}
        dashboardSpec: this.sample_db_spec
    });
  </code>
</pre>

<pre *ngIf="codeType === 'AddCSVSource'"  class="line-numbers">
  <code class="language-javascript">
    this.dashboardAPI.addSources([{{ '{' }}
      module: sampleModule,
      name: 'Test CSV Source',
      id: 'myUniqueId789'
    }]);
  </code>
</pre>

<pre *ngIf="codeType === 'AddProtectedCSVSource'"  class="line-numbers">
  <code class="language-javascript">
    this.dashboardAPI.addSources([{{ '{' }}
      module: encryptedSampleModule,
      name: 'Protected CSV Source',
      id: 'myUniqueId987'
    }]);
  </code>
</pre>

<pre *ngIf="codeType === 'AddBikeShareWeatherCSVSource'"  class="line-numbers">
  <code class="language-javascript">
    this.dashboardAPI.addSources([{{ '{' }}
      module: sampleBikeShareWeatherModule,
      name: 'Test Bike Share Weather Source',
      id: 'myUniqueId111'
    }]);
  </code>
</pre>

<pre *ngIf="codeType === 'AddBikeShareRidesDemographCSVSource'"  class="line-numbers">
  <code class="language-javascript">
    this.dashboardAPI.addSources([{{ '{' }}
      module: sampleBikeShareRidesDemographModule,
      name: 'Test Bike Share Rides Demographics Source',
      id: 'myUniqueId222'
    }]);
  </code>
</pre>

<pre *ngIf="codeType === 'DashboardEditMode'"  class="line-numbers">
  <code class="language-javascript">
    this.dashboardAPI.setMode(
      this.dashboardAPI.MODES.EDIT);
  </code>
</pre>

<pre *ngIf="codeType === 'DashboardViewMode'"  class="line-numbers">
  <code class="language-javascript">
    this.dashboardAPI.setMode(
      this.dashboardAPI.MODES.VIEW);
  </code>
</pre>

<pre *ngIf="codeType === 'DashboardEditGroupMode'"  class="line-numbers">
  <code class="language-javascript">
    this.dashboardAPI.setMode(
      this.dashboardAPI.MODES.EDIT_GROUP);
  </code>
</pre>

<pre *ngIf="codeType === 'UndoLastAction'"  class="line-numbers">
  <code class="language-javascript">
    this.dashboardAPI.undo();
  </code>
</pre>

<pre *ngIf="codeType === 'RedoLastAction'"  class="line-numbers">
  <code class="language-javascript">
    this.dashboardAPI.redo();
  </code>
</pre>

<pre *ngIf="codeType === 'GetDashboardSpec'"  class="line-numbers">
  <code class="language-javascript">
    const spec = await
      this.dashboardAPI.getSpec();
    console.log(JSON.stringify(spec));
  </code>
</pre>

<pre *ngIf="codeType === 'UpdateModuleDefinitions'"  class="line-numbers">
  <code class="language-javascript">
    await this.getDashboardSampleSpec();
    var dbSpec = JSON.parse(JSON.stringify(this.sample_db_spec));

    var getNewModulesCallback = function(ids) {{ '{' }}
      var newModules = [];
      ids.forEach(function(id) {{ '{' }}
        newModules.push({{ '{' }}
          id: id,
          module: {{ '{' }}
            newModuleDefinition: true
          },
          name: 'newModuleName',
        });
      });
      return Promise.resolve(newModules);
    };

    // log the before
    console.log("before update:");
    console.log(dbSpec.dataSources.sources);

    // log the after
    console.log("after update:");
    const newDBSpec = await this.api.updateModuleDefinitions(dbSpec, getNewModulesCallback);
    console.log(newDBSpec.dataSources.sources);
  </code>
</pre>

<pre *ngIf="codeType === 'ClearDirtyState'"  class="line-numbers">
  <code class="language-javascript">
    this.dashboardAPI.clearDirty();
  </code>
</pre>

<pre *ngIf="codeType === 'TogglePropertiesPane'"  class="line-numbers">
  <code class="language-javascript">
    this.dashboardAPI.toggleProperties();
  </code>
</pre>

<pre *ngIf="codeType === 'RegisterCallback'"  class="line-numbers">
  <code class="language-javascript">
    this.dashboardAPI.on(this.dashboardAPI.EVENTS.DIRTY, this.onModified);
  </code>
</pre>

<pre *ngIf="codeType === 'UnregisterCallback'"  class="line-numbers">
  <code class="language-javascript">
    this.dashboardAPI.off(this.dashboardAPI.EVENTS.DIRTY, this.onModified);
  </code>
</pre>

<pre *ngIf="codeType === 'RegisterApiCallback'"  class="line-numbers">
  <code class="language-javascript">
    TODO code for Register API Callback
  </code>
</pre>

<pre *ngIf="codeType === 'UnregisterApiCallback'"  class="line-numbers">
  <code class="language-javascript">
    TODO code for Unregister API Callback
  </code>
</pre>

<pre *ngIf="codeType === 'CloseApiFramework'"  class="line-numbers">
  <code class="language-javascript">
    TODO close API framework
  </code>
</pre>
