
.iframeContainer {
  height: 700px; /* temp solution */  /*height: 95%;*/
  display: flex;
  flex-direction: column;
}

.iframeContainer pre {
  display: flex;
  font-size: medium;
  white-space: pre-wrap;
}

.iframe {
  flex-grow: 1;
  border: none;
  margin: 0;
  padding: 0;
}

.col-md-3,
.col-md-6 {
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  margin-top: 12em;
}

.grid-item {
  padding: 10px;
}

.steps-icons {
  width: 12em;
}

.steps-copy {
  font-family: "Helv Neue Roman";
}

dde-toaster {
  min-height: 50px;
}

@media (max-width: 1200px) {
  .col-md-3 {
    min-width: 300px;
  }
}
