
.iframeContainer {
  height: 700px; /* temp solution */  /*height: 95%;*/
  display: flex;
  flex-direction: column;
}

.iframeContainer pre {
  display: flex;
  font-size: medium;
  white-space: pre-wrap;
}

.iframe {
  flex-grow: 1;
  border: none;
  margin: 0;
  padding: 0;
}

.col-md-7,
.col-md-6,
.col-md-5 {
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  margin-top: 12em;
}

.grid-item {
  padding: 10px;
}

.steps-icons {
  width: 12em;
}

.steps-copy {
  font-family: "Helv Neue Roman";
}

dde-toaster {
  position: absolute;
}

.fa-columns {
  font-size: 20px;
  margin-bottom: 0.4em;
}

.fa-columns:hover {
  color: #fff;
}

.explorer-bar {
  background-color: #d8d8d8;
  padding: 0.5em;
}

.disabled {
  opacity: .5;
  pointer-events: none;
}

.enabled {
  cursor: pointer;
  opacity: 1;
}

.fa-columns {
  font-size: 20px;
  margin-bottom: 0.4em;
  color: #000;
}

.fa-columns:hover {
  color: #fff;
}

@media (max-width: 1200px) {
  .col-md-3 {
    min-width: 320px;
  }
}
