<header>
  <app-navbar (showPanels)=showPanels($event)></app-navbar>
</header>

<dde-dialog>
</dde-dialog>

<div class="container-fluid">
    <div class="row">
      <div *ngIf=showPanel class="col-md-3 nav-bar navbar-expand-lg navbar-light bg-light">
          <div class="ngxAccordionCustomContainer list-group text-md-left">
            <accordion [closeOthers]=true class="ngxAccordionCustom">
              <dde-dashboard (codeToRun)="getCodeSnippet($event)">
              </dde-dashboard>
            </accordion>
          </div>
          <dde-references (isShowVideo)=showVideo()></dde-references>
      </div>

      <div *ngIf=showPanel class="col-md-3">
        <dde-code-explorer [codeSnippet]="code_snippet" (session)="sessionInfo($event)" (apiId)="getAPIId($event)"
          (dashboardApi)="getDashboardApi($event)" (dashboardSpec)="getDashboardSpec($event)"
          (updateModuleDefinitions)="updateModuleDefinitions($event)" (clearDirtyState)="clearDirtyState($event)"
          (registerCallback)="registerCallback($event)" (unregisterCallback)="unregisterCallback($event)">
        </dde-code-explorer>
      </div>

        <div [ngClass]="colSize">
           <dde-toaster class="toaster"></dde-toaster>
           <div class="iframeContainer" id="containerDivId3">
             <div class="grid-container">
               <div class="grid-item">
                 <img class="steps-icons" src="../assets/images/exploreApi.png"/>
                 <div>
                   Explore Available APIs
                 </div>
                 <div class="steps-copy">
                   Follow the arrow to see a pre-populated dashboard.  You can also create a new dashboard with sample data.
                 </div>
               </div>

               <div class="grid-item">
                 <img class="steps-icons" src="../assets/images/bind.png"/>
                 <div class="steps-title">
                   Bind APIs to buttons
                 </div>
                 <div class="steps-copy">
                   Allow users to undo, redo, properties, set view/edit mode, show/hide pane of a dashboard through button interactions.
                 </div>
               </div>

               <div class="grid-item">
                 <img class="steps-icons" src="../assets/images/search.png"/>
                 <div class="steps-title">
                   Ready to Learn More?
                 </div>
                 <div class="steps-copy">
                   Check out the resource links to create your own instance, getting started docs, Github repo, and more.
                 </div>
               </div>
             </div>
           </div>
        </div>
    </div>
</div>
