
<app-navbar></app-navbar>

<div class="container">
    <div class="starter-template">
        <h2>DDE demo app</h2>
    </div>
</div>

<!--ngb-accordion  #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel title="Session">
    <ng-template ngbPanelContent>
      <dde-session></dde-session>
    </ng-template>
  </ngb-panel>
  <ngb-panel>
    <ng-template ngbPanelTitle>
      <span>Work with dashboard</span>
    </ng-template>
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
  <ngb-panel title="DB">
    <ng-template ngbPanelContent>
      <h3>Names List</h3>
      <dde-list></dde-list>
    </ng-template>
  </ngb-panel>
</ngb-accordion-->


<div class="row">
   <div class="col-md-2">

     <ngb-accordion  #acc="ngbAccordion" activeIds="ngb-panel-0">
       <ngb-panel title="Session">
         <ng-template ngbPanelContent>
           <dde-session
            (codeToDisplay)="parentSessionInfoCreated($event)"
            (apiFrameworkCreated)="parentApiFrameworkCreated($event)"
            (moduleDefinitionUpdated)="parentModuleDefUpdated($event)">
          </dde-session>
         </ng-template>
       </ngb-panel>
       <ngb-panel>
         <ng-template ngbPanelTitle>
           <span>Work with dashboard</span>
         </ng-template>
         <ng-template ngbPanelContent>
           <dde-dashboard>
           </dde-dashboard>
         </ng-template>
       </ngb-panel>
       <ngb-panel title="DB">
         <ng-template ngbPanelContent>
           <h3>Names List</h3>
           <dde-list></dde-list>
         </ng-template>
       </ngb-panel>
     </ngb-accordion>
   </div>

<div class="col-md-3">
  <dde-code-explorer [codeToDisplay]="parent_codeToDisplay">
  </dde-code-explorer>
</div>

<div class="col-md-7">
      <div *ngIf="parent_session_info" class="alert alert-success box-msg" role="alert">
        <strong>Session created!</strong> {{parent_session_info}}
      </div>
      <div *ngIf="parent_api_framework_info" class="alert alert-success box-msg" role="alert">
        <strong>API created successfuly!</strong> session_code: {{parent_api_framework_info}}
      </div>
      <div *ngIf="parent_update_module_def_info" class="alert alert-success box-msg" role="alert">
        <strong>Module definition updated!</strong> see console log for before vs after
      </div>

        <div class="iframeContainer" id="containerDivId3">
            <!--pre>{{parent_session_info}}</pre-->
        </div>
</div>


</div>
