.col-md-1,
.col-md-3,
.col-md-5,
.col-md-6,
.col-md-11,
.col-md-12 {
  padding: 0;
}

.row {
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  margin-top: 12em;
}

.grid-item {
  padding: 10px;
}

.steps-icons {
  width: 12em;
}

.steps-copy {
  font-family: "Helv Neue Roman";
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}

dde-toaster {
  position: absolute;
}

.copy-button {
  width: 95px;
}

.fa-columns {
  font-size: 20px;
  margin-bottom: 0.4em;
}

.fa-columns:hover {
  color: #fff;
}

.explorer-bar {
  background-color: #d8d8d8;
  height: 30px;
}

.fa-columns {
  font-size: 20px;
  margin-top: 0.3em;
  margin-left: 0.3em;
  color: #000;
}

.fa-columns:hover {
  color: #fff;
}

.show-hide-icon {
  margin-top: -0.2em;
}

.side-panels {
  height: 100%;
  position: absolute;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;
}

.side-panels-show {
  width: 50%;
}

.side-panels-hide {
  width: 0;
}

.dashbaord-min {
  transition: margin-left .5s;
  margin-left: 50%;
}

.dashbaord-max {
  transition: margin-left .5s;
  margin-left: 0;
}

.explorer-image {
  fill: #000;
}

.button-selected .explorer-image {
  fill: #d8d8d8;
}

@media (max-width: 1200px) {
  .col-md-3 {
    min-width: 320px;
  }
}
