.col-md-1,
.col-md-3,
.col-md-5,
.col-md-6,
.col-md-12 {
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  margin-top: 12em;
}

.grid-item {
  padding: 10px;
}

.steps-icons {
  width: 12em;
}

.steps-copy {
  font-family: "Helv Neue Roman";
}

dde-toaster {
  position: absolute;
}

.copy-button {
  width: 90px;
}

.fa-columns {
  font-size: 20px;
  margin-bottom: 0.4em;
}

.fa-columns:hover {
  color: #fff;
}

.explorer-bar {
  background-color: #d8d8d8;
  height: 30px
}

.explorer-bar-max {
  width: 50%;
}

.explorer-bar-min {
  width: 2%;
}

.dashboard-bar {
  background-color: #a6a5a6;
  width: 50%;
  height: 30px;
}

.dashboard-bar-max {
  width: 98%;
}

.dashboard-bar-min {
  width: 50%;
}

.disabled {
  opacity: .5;
  pointer-events: none;
}

.enabled {
  cursor: pointer;
  opacity: 1;
}

.fa-columns {
  font-size: 20px;
  margin-top: 0.3em;
  margin-left: 0.3em;
  color: #000;
}

.fa-columns:hover {
  color: #fff;
}

.show-hide {
  margin-top: -0.2em;
}

@media (max-width: 1200px) {
  .col-md-3,
  .explorer-bar-max {
    min-width: 320px;
  }
}
