.current-selection {
  border-left:2px solid #1f57a4 !important;
  background: rgba(21, 87, 164, 0.1) !important;
}

.info-icon {
  width: 14px;
  float: right;
  margin-right: 1em;
}

.nav-link {
  cursor: pointer;
  padding-left: 3em !important;
  border: none;
  background: transparent;
  width: 100%;
  text-align: left;
  letter-spacing: inherit;
}

.nav-link:hover {
  background: rgba(0, 0, 0, 0.05);
  color: #000 !important;
}

.navbar-brand {
  color: #000 !important;
  border: none;
  background: transparent;
  text-align: left;
  padding-left: 0;
  padding-right: 0;
  letter-spacing: inherit;
}
