<div class="ngxAccordionCustomContainer list-group text-md-left">
  <accordion [closeOthers]=true class="ngxAccordionCustom">
    <accordion-group [isOpen]="isFirstOpen" panelClass="bg-light">
      <button accordion-heading class="navbar-brand" [attr.tabindex]="0">
        1. Set the API framework
      </button>
      <div class="col-md-12">
           <div class="row">
             <ul class="navbar-nav mr-auto">
               <li>
                 <button class="nav-link" [ngClass]="{'current-selection': currentSelection === 'CreateSession'}" (click)='displayNewSessionCode()'>
                   <svg-icon class="faa-horizontal animated" src="../assets/images/forward_16.svg" *ngIf="nextStepToProcess() === 'CreateSession'"></svg-icon>
                     <span>Create a session</span>
                   <svg-icon class="info-icon" src="../assets/images/get-information_16.svg" placement="left"
                      tooltip="A session is an authorized 60 minute window where unlimited dashboard interactions can take place"></svg-icon>
                 </button>
                 <button class="nav-link" [ngClass]="{'current-selection': currentSelection === 'CreateAPIFramework'}" href="#" (click)='displayInitApiFrameworkCode()'>
                   <svg-icon class="faa-horizontal animated" src="../assets/images/forward_16.svg" *ngIf="nextStepToProcess() === 'CreateAPIFramework'"></svg-icon>
                      <span>Initialize the API framework</span>
                   <svg-icon class="info-icon" src="../assets/images/get-information_16.svg" placement="left"
                      tooltip="Initialization needs to occur within 60 seconds of session creation."></svg-icon>
                 </button>
               </li>
             </ul>
           </div>
      </div>
    </accordion-group>

    <accordion-group [isOpen]="nextStepToProcess() === 'CreateDashboard'" panelClass="bg-light">
      <button accordion-heading class="navbar-brand">
        2. Open or create dashboard
      </button>

      <div class="col-md-12">
           <div class="row">
             <ul class="navbar-nav mr-auto">
               <li>
                 <button class="nav-link" [ngClass]="{'current-selection': currentSelection === 'OpenDashboard'}" href="#" (click)='displayOpenDashboardCode()'>
                   <svg-icon class="faa-horizontal animated" src="../assets/images/forward_16.svg" *ngIf="nextStepToProcess() === 'CreateDashboard'"></svg-icon>
                    <span>Open dashboard</span>
                   <svg-icon class="info-icon" src="../assets/images/get-information_16.svg" placement="left"
                      tooltip="Dashboards that have been previously saved by your application can be loaded by this API."></svg-icon>
                 </button>
                 <button class="nav-link" [ngClass]="{'current-selection': currentSelection === 'CreateDashboard'}" href="#" (click)='displayCreateDashboardCode()'>
                   <span>Create dashboard</span>
                   <svg-icon class="info-icon" src="../assets/images/get-information_16.svg" placement="left"
                      tooltip="Select from a variety of blank templates to construct a dashboard from your data sources."></svg-icon>
                 </button>
               </li>
             </ul>
           </div>
      </div>
    </accordion-group>

    <accordion-group [isOpen]="nextStepToProcess() === 'AddCSVSource'" panelClass="bg-light">
      <button accordion-heading class="navbar-brand">
        3. Dashboard interactions
      </button>
      <div class="col-md-12">
        <div class="row">
          <ul class="navbar-nav">
            <li>
              <button class="nav-link" [ngClass]="{'current-selection': currentSelection === 'AddCSVSource'}" href="#" (click)='addSourcesToDashboard()'>
                <span>Add data source</span>
                <svg-icon class="info-icon" src="../assets/images/get-information_16.svg" placement="left"
                   tooltip="Required when you create a new dashboard and can be used to add more data to an existing dashboard."></svg-icon>
              </button>
              <button class="nav-link" [ngClass]="{'current-selection': currentSelection === 'DashboardEditMode'}" href="#" (click)='setDashboardEditMode()'>
                <span>Set dashboard mode</span>
                <svg-icon class="info-icon" src="../assets/images/get-information_16.svg" placement="left"
                   tooltip="View / Edit mode allows your users a different level of access to a dashboard."></svg-icon>
              </button>
              <button class="nav-link" [ngClass]="{'current-selection': currentSelection === 'UndoLastAction'}" href="#" (click)='undoLastAction()'>
                <span>Undo last change</span>
              </button>
              <button class="nav-link" [ngClass]="{'current-selection': currentSelection === 'RedoLastAction'}" href="#" (click)='redoLastAction()'>
                <span>Redo last change</span>
              </button>
              <button  class="nav-link" [ngClass]="{'current-selection': currentSelection === 'TogglePropertiesPane'}" href="#" (click)='togglePropertiesPane()'>
                <span>Toggle properties pane</span>
                <svg-icon class="info-icon" src="../assets/images/get-information_16.svg" placement="left"
                   tooltip="Customize a dashboards look and feel by accessing the properties pane."></svg-icon>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </accordion-group>

    <accordion-group panelClass="bg-light">
      <button accordion-heading class="navbar-brand">
        4. Support APIs
      </button>
      <div class="col-md-12">
        <div class="row">
          <ul class="navbar-nav">
            <li>
              <button class="nav-link" [ngClass]="{'current-selection': currentSelection === 'GetDashboardSpec'}" href="#" (click)='getDashboardSpec()'>
                <span>Get dashboard specification</span>
                <svg-icon class="info-icon" src="../assets/images/get-information_16.svg" placement="left"
                   tooltip="Generates the dashboard specification that can be saved and later used to open the dashboard."></svg-icon>
              </button>
              <button class="nav-link" [ngClass]="{'current-selection': currentSelection === 'ClearDirtyState'}" href="#" (click)='clearDirtyState()'>
                <span>Clear dashboard dirty state</span>
                <svg-icon class="info-icon" src="../assets/images/get-information_16.svg" placement="left"
                   tooltip="Clear this state in order to help keep track of the need to save dashboards."></svg-icon>
              </button>
              <button class="nav-link" [ngClass]="{'current-selection': currentSelection === 'UpdateModuleDefinitions'}" href="#" (click)='updateModuleDefinitions()'>
                <span>Update data source definition</span>
                <svg-icon class="info-icon" src="../assets/images/get-information_16.svg" placement="left"
                   tooltip="If your data source has changed since the last time your dashboard was opened, update the data source."></svg-icon>
              </button>
              <button class="nav-link" [ngClass]="{'current-selection': currentSelection === 'RegisterCallback'}" href="#" (click)='registerCallback()'>
                <span>Register callback to dashboard event</span>
                <svg-icon class="info-icon" src="../assets/images/get-information_16.svg" placement="left"
                   tooltip="Provides the ability for your application to react to an add data button click and a change to a dirty state."></svg-icon>
              </button>
              <button class="nav-link" [ngClass]="{'current-selection': currentSelection === 'UnregisterCallback'}" href="#" (click)='unregisterCallback()'>
                <span>Unregister callback to dashboard event</span>
                <svg-icon class="info-icon" src="../assets/images/get-information_16.svg" placement="left"
                   tooltip="Removes the callback from events add data button click and change to a dirty state."></svg-icon>
              </button>
              <button class="nav-link" [ngClass]="{'current-selection': currentSelection === 'RegisterApiCallback'}" href="#" (click)='registerApiCallback()'>
                <span>Register callback to API event</span>
                <svg-icon class="info-icon" src="../assets/images/get-information_16.svg" placement="left"
                   tooltip="Register the callback from API events."></svg-icon>
              </button>
              <button class="nav-link" [ngClass]="{'current-selection': currentSelection === 'UnregisterApiCallback'}" href="#" (click)='unregisterApiCallback()'>
                <span>Unregister callback to API event</span>
                <svg-icon class="info-icon" src="../assets/images/get-information_16.svg" placement="left"
                   tooltip="Unregisters the callback from API api events."></svg-icon>
              </button>
              <button class="nav-link" [ngClass]="{'current-selection': currentSelection === 'CloseApiFramework'}" href="#" (click)='closeApiFramework()'>
                <span>Close the API framework</span>
                <svg-icon class="info-icon" src="../assets/images/get-information_16.svg" placement="left"
                   tooltip="Close the API framework."></svg-icon>
              </button>

            </li>
          </ul>
        </div>
      </div>
    </accordion-group>
  </accordion>
</div>
