.current-selection {
  font-family: "Helv Neue Bold", serif;
  border-left:2px solid #5392ff;
  background: #e1ebf7;
}

.info-icon {
  width: 14px;
  float: right;
}

.nav-link {
  cursor: pointer;
}
