.current-selection {  
  border-left:2px solid #1f57a4;
  background: rgba(21, 87, 164, 0.1);
}

.info-icon {
  width: 14px;
  float: right;
}

.nav-link {
  cursor: pointer;
  padding-left: 3em !important;
}

.nav-link:hover {
  background: rgba(0, 0, 0, 0.05);
  color: #000 !important;
}

.navbar-brand {
  color: #000 !important;
}
