/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

/* fonts and icons, to be switched over to IBMs fonts and icons */
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

/* https://bootswatch.com/simplex/ */
/*@import "https://bootswatch.com/4/simplex/bootstrap.css";*/

/* https://bootswatch.com/cosmo/ */
/*@import "https://bootswatch.com/4/cosmo/bootstrap.css";*/

/* https://bootswatch.com/cerulean/ */
/*@import "https://bootswatch.com/4/cerulean/bootstrap.css";*/

/* https://bootswatch.com/lux/ */
@import "https://bootswatch.com/4/lux/bootstrap.css";



/* remove default container paddings */
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

/* remove default row margins */
.container-fluid .row {
  margin-left: 0px;
  margin-right: 0px;
}

/* remove default paddings */
.ngxAccordionCustomContainer {
  padding-left: 0px;
  padding-right: 0px;
}

/* remove default paddings */
.mainContentContainer {
  padding-left: 0px;
  padding-right: 0px;
}

/* make sure list spans whole column height */
.ngxAccordionCustomContainer .list-group {
  height: 100%;
}

/* accordion headers*/
.ngxAccordionCustomContainer .navbar-brand {
    width: 100%;
    font-size: 0.9rem;
}

/* accordian content*/
.ngxAccordionCustomContainer .nav-link {
    font-size: 0.8rem;
}

/* border radio to remove rounded corners for accordion card */
.ngxAccordionCustomContainer .card {
  border-radius: 0rem;

}

/* remove borders for accordion card header  */
.ngxAccordionCustomContainer .card-header {
    border-bottom: 0px;
}

input {
  width: 95%;
  background-color: #eaeaea;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #000;
  padding: 5px 5px 5px 5px;
  display: block;
  margin-bottom: 10px;
}

select {
  display: block;
}

.fa-arrow-right {
  font-size: 15px;
}

.fa {
  cursor: pointer;
}

ul, li {
  width: 100%;
}

pre {
    display: table;
    table-layout: fixed;
    width: 100%; /* anything but auto, otherwise fixed layout not guaranteed */
    white-space: pre-wrap;
}
pre::before {
    counter-reset: linenum;
}
pre span.tr {
    display: table-row;
    counter-increment: linenum;
}
pre span.th { /* used for line numbers */
    display: table-cell;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    background-color: #000;
}
pre span.th::before {
    content: counter(linenum);
    text-align: center;
    display: block;
}
pre span.th {
    width: 4em; /* or whatever the desired width of the numbers column is */
}
pre code {
    display: table-cell;
}

/* indentation for accordion card body
.ngxAccordionCustomContainer .card .card-body {
    margin-left: 1.25rem;
}*/

/* set accordion's card header background to be white instead of light gray */
/*.ngxAccordionCustomContainer .card .card-header {
    background-color: #ffffff;
}*/

/* set background colour to custom colour for accordion
.ngxAccordionCustomContainer { */
  /*background-color: #333; /*Hex Gray20*/
  /*background-color: #ffffff; /*white*/
/*}*/


/*

body {
   padding-top: 80px;
}
.starter-template {
    padding: 0.5rem 0.5rem;
    text-align: center;
}
*/
