/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

/* fonts and icons, to be switched over to IBMs fonts and icons */
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

/* https://bootswatch.com/simplex/ */
/*@import "https://bootswatch.com/4/simplex/bootstrap.css";*/

/* https://bootswatch.com/cosmo/ */
/*@import "https://bootswatch.com/4/cosmo/bootstrap.css";*/

/* https://bootswatch.com/cerulean/ */
/* @import "https://bootswatch.com/4/cerulean/bootstrap.css"; */

/* https://bootswatch.com/lux/ */
@import "https://bootswatch.com/4/lux/bootstrap.css";

@font-face {
 font-family: "Helv Neue Bold";
 src: url('/assets/fonts/HelvNeueBoldforIBM.otf'),
      url('/assets/fonts/HelvNeueBoldforIBM.ttf');
}

@font-face {
 font-family: "Helv Neue Roman";
 src: url('/assets/fonts/HelvNeueRomanforIBM.otf'),
      url('/assets/fonts/HelvNeueRomanforIBM.ttf');
}

html, body {
  height: 100%;
}

body {
  font-family: "Helv Neue Bold", serif;
 }

a {
  padding: 0.5rem 1rem;
  display: block;
  color: #5392ff;
}

a:hover {
  color: #5392ff;
}

a, span, div .button {
 font-family: "Helv Neue Roman", serif;
}

label {
 color: #000;
}

input {
  width: 95%;
  background-color: #eaeaea;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #000;
  padding: 5px 5px 5px 5px;
  display: block;
  margin-bottom: 10px;
}

select {
  display: block;
}

/* remove default container paddings */
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
  position: relative;
}

/* remove default row margins */
.container-fluid .row {
  margin-left: 0px;
  margin-right: 0px;
}

/* accordion headers*/
.ngxAccordionCustomContainer .navbar-brand {
    width: 100%;
    font-size: 0.9rem;
}

/* accordian content*/
.ngxAccordionCustomContainer .nav-link {
    font-size: 0.8rem;
}

/* border radio to remove rounded corners for accordion card */
.ngxAccordionCustomContainer .card {
  border-radius: 0rem;

}

/* remove borders for accordion card header  */
.ngxAccordionCustomContainer .card-header {
    border-bottom: 0px;
}

.panel-open .panel .navbar-brand:after {
    font-family: 'FontAwesome';
    content: "\f068";
    float: right;
}

.bg-dark {
  background-color: #272822 !important;
}

.panel .navbar-brand:after {
  font-family: 'FontAwesome';
  content: "\f067";
  float: right;
}

.fa {
  cursor: pointer;
}

.nav-link {
  color: #000 !important;
}

.nav-link:hover {
  color: #c0bfc0 !important;
}

.card-header {
  cursor: pointer;
}

ul, li {
  width: 100%;
}

svg {
  vertical-align: middle;
  margin-top: -0.2em;
}

.link-image {
  width: 15px;
  float: right;
  fill: #1f57a4;
}

.tooltip-inner {
  background-color: #343334;
  padding: 0.66em;
  font-family: "Helv Neue Bold";
}

.tooltip-arrow:before,
.tooltip-arrow {
  border-left-color: #343334 !important;
  border-right-color: #343334 !important;
}

.button {
  color: #000;
  padding-left: 8px;
  padding-right: 10px;
  padding-top: 5px;
  height: 100%;
  border: 0;
}

.button-selected {
  background-color: #464646;
  color: #d8d8d8;
}

.button-selected svg-icon {
  fill: #d8d8d8;
}

.enabled:hover svg path,
.enabled:hover {
  fill: #fff;
  color: #fff;
}

.disabled {
  opacity: .5;
  pointer-events: none;
  cursor: none;
}

.enabled {
  cursor: pointer;
  opacity: 1;
}

.iframeContainer {
  height: 900px; /* temp solution */  /*height: 95%;*/
  display: flex;
  flex-direction: column;
}

.iframeContainer pre {
  display: flex;
  font-size: medium;
  white-space: pre-wrap;
}

.iframe {
  flex-grow: 1;
  border: none;
  margin: 0;
  padding: 0;
}

.card-body {
  padding: 1.25rem 0 !important;
}

.close-image {
  float: right;
  cursor: pointer;
}

.close-image:hover {
  fill: #a6a5a6;
}

@media (max-width: 1440px) {
  .iframeContainer {
    height: 700px;
  }
}

/* Detect Mac Firefox 25 or newer */
@supports (-moz-osx-font-smoothing:auto) {
  .line-numbers-rows {
    line-height: 1.67em;
  }
}

/* Detect Chrome 22+ (and Safari 6.1+) */
@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution: .001dpcm), screen and(-webkit-min-device-pixel-ratio:0) {
  .line-numbers-rows {
    line-height: 1.67em;
  }
}

/* Detect Mac Safari 6.1 or newer, hide any straggling Chrome references */
@media screen and (-webkit-max-device-pixel-ratio:1) and (min-color-index:0) {
  .line-numbers-rows {
    line-height: 1.67em;
  }
}
