/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

/* fonts and icons, to be switched over to IBMs fonts and icons */
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

/* https://bootswatch.com/simplex/ */
/*@import "https://bootswatch.com/4/simplex/bootstrap.css";*/

/* https://bootswatch.com/cosmo/ */
/*@import "https://bootswatch.com/4/cosmo/bootstrap.css";*/

/* https://bootswatch.com/cerulean/ */
/* @import "https://bootswatch.com/4/cerulean/bootstrap.css"; */

/* https://bootswatch.com/lux/ */
@import "https://bootswatch.com/4/lux/bootstrap.css";

@font-face {
 font-family: "Helv Neue Bold";
 src: url('/assets/fonts/HelvNeueBoldforIBM.otf'),
      url('/assets/fonts/HelvNeueBoldforIBM.ttf');
}

@font-face {
 font-family: "Helv Neue Roman";
 src: url('/assets/fonts/HelvNeueRomanforIBM.otf'),
      url('/assets/fonts/HelvNeueRomanforIBM.ttf');
}

body {
  font-family: "Helv Neue Bold", serif;
 }

 a, span {
   font-family: "Helv Neue Roman", serif;
 }

 label {
   color: #000;
 }

input {
  width: 95%;
  background-color: #eaeaea;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #000;
  padding: 5px 5px 5px 5px;
  display: block;
  margin-bottom: 10px;
}

select {
  display: block;
}

/* remove default container paddings */
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

/* remove default row margins */
.container-fluid .row {
  margin-left: 0px;
  margin-right: 0px;
}

/* remove default paddings */
.ngxAccordionCustomContainer {
  padding-left: 0px;
  padding-right: 0px;
}

/* remove default paddings */
.mainContentContainer {
  padding-left: 0px;
  padding-right: 0px;
}

/* make sure list spans whole column height */
.ngxAccordionCustomContainer .list-group {
  height: 100%;
}

/* accordion headers*/
.ngxAccordionCustomContainer .navbar-brand {
    width: 100%;
    font-size: 0.9rem;
}

/* accordian content*/
.ngxAccordionCustomContainer .nav-link {
    font-size: 0.8rem;
}

/* border radio to remove rounded corners for accordion card */
.ngxAccordionCustomContainer .card {
  border-radius: 0rem;

}

/* remove borders for accordion card header  */
.ngxAccordionCustomContainer .card-header {
    border-bottom: 0px;
}

.panel-open .panel .navbar-brand:after {
    font-family: 'FontAwesome';
    content: "\f068";
    float: right;
}

.panel .navbar-brand:after {
  font-family: 'FontAwesome';
  content: "\f067";
  float: right;
}

.fa-arrow-right {
  font-size: 15px;
}

.fa {
  cursor: pointer;
}

.nav-link {
  color: #000!important;
}

.nav-link:hover {
  color: #c0bfc0 !important;
}

.card-header {
  cursor: pointer;
}

ul, li {
  width: 100%;
}

pre {
    display: table;
    table-layout: fixed;
    width: 100%;
    /* white-space: pre-wrap; */
}
pre::before {
    counter-reset: linenum;
}
pre span.tr {
    display: table-row;
    counter-increment: linenum;
}
pre span.th {
    display: table-cell;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
pre span.th::before {
    content: counter(linenum);
    text-align: center;
    display: block;
}
