<div class="dashboard-bar">
  <button class="button float-right" [ngClass]="{'button-selected': isEditMode && toggleProperties}" (click)=togglePropertiesPane() tooltip="Toggle properties pane" placement="left">
    <svg-icon src="../assets/images/configure_32.svg" [ngClass]="{'disabled': isTogglePropertiesPaneDisabled(), 'enabled': !isTogglePropertiesPaneDisabled()}"></svg-icon>
  </button>
  <button class="button float-right" (click)=redoLastAction() tooltip="Redo last change" placement="left">
    <svg-icon src="../assets/images/refresh_16.svg" [ngClass]="onDisableButtons()"></svg-icon>
  </button>
  <button class="button float-right" (click)=undoLastAction() tooltip="Undo last change" placement="left">
    <svg-icon src="../assets/images/reset_16.svg" [ngClass]="onDisableButtons()"></svg-icon>
  </button>
  <button class="button float-right" [ngClass]="{'button-selected': isEditMode && !disableButtons}" (click)=editDashboard() tooltip="Edit dashboard mode" placement="left">
    <svg-icon src="../assets/images/edit_16.svg" [ngClass]="onDisableButtons()"></svg-icon>
  </button>
</div>
