<div class="explorer-bar">
  <div class="button" [ngClass]="onDisableRunButton()" (click)="runCode($event)">
    <svg-icon class="play-image" src="../assets/images/play_16.svg"></svg-icon>
    <span>
      Run
    </span>
  </div>
</div>

<div class="row" [ngClass]="setExplorerDiv()">
  <dde-code-snippet class="code-snippet" [codeType]="codeSnippet.selection"></dde-code-snippet>
</div>

<div class="secondary-panel" *ngIf="showSessionPanel()">
  <div class="header">
    <label>Session Information</label>
  </div>

  <div class="panel-info">
    <label>sessionCode</label>
    <input type="text" [ngModel]="sessionObject?.code"/>
  </div>

  <div class="panel-info">
    <label>sessionId</label>
    <input type="text" [ngModel]="sessionObject?.id"/>
  </div>

  <div class="panel-link">
    <a class="nav-link" href="#" target="_blank">
      Learn more about creating a valid session
      <svg-icon class="link-image" src="../assets/images/link_16.svg"></svg-icon>
    </a>
  </div>
</div>

<div class="secondary-panel" *ngIf="showSourcesDropDown()">
  <div class="header">
    <label>Data source configuration</label>
  </div>

  <div class="panel-info">
    <label>Data Source</label>
    <select (change)="onSelect($event.target.value)">
      <option *ngFor="let dataSource of dataSources" value={{dataSource.value}}>
         {{dataSource.type}}
      </option>
    </select>
  </div>

  <div class="panel-link">
    <a class="nav-link" href="#" target="_blank">
      Learn how to work with your own datasource
      <svg-icon class="link-image" src="../assets/images/link_16.svg"></svg-icon>
    </a>
  </div>
</div>

<div class="secondary-panel" *ngIf="showDashboardModesDropDown()">
  <div class="header">
    <label>Dashboard Mode</label>
  </div>

  <div class="panel-info">
    <label>Mode</label>
    <select (change)="onSelectMode($event.target.value)">
      <option *ngFor="let mode of dashboardModes" value={{mode.value}}>
         {{mode.type}}
      </option>
    </select>
  </div>
</div>
