<div class="explorer-bar" >
  <div class="button" (click)="runCode($event)">
    <svg-icon class="play-image" src="../assets/images/play_16.svg"></svg-icon>
    <span>
      Run
    </span>
  </div>
</div>

<div class="code-block-div row" [ngClass]="setExplorerDiv()">
  <div class="column-left">
  </div>
  <div class="column-right">
    <pre class="code">
      <code [innerHTML]="codeSnippet?.code">
      </code>
    </pre>
  </div>
</div>

<div class="secondary-panel" *ngIf="showSessionPanel()">
  <div class="header">
    <label>Session Information</label>
  </div>

  <div class="panel-info">
    <label>sessionCode</label>
    <input type="text" [ngModel]="sessionObject?.code"/>
  </div>

  <div class="panel-info">
    <label>sessionId</label>
    <input type="text" [ngModel]="sessionObject?.id"/>
  </div>
</div>

<div class="secondary-panel" *ngIf="showSourcesDropDown()">
  <div class="header">
    <label>Data source configuration</label>
  </div>

  <div class="panel-info">
    <label>Data Source</label>
    <select (change)="onSelect($event.target.value)">
      <option *ngFor="let dataSource of dataSources" value={{dataSource.value}}>
         {{dataSource.type}}
      </option>
    </select>
  </div>
</div>

<div class="secondary-panel" *ngIf="showDashboardModesDropDown()">
  <div class="header">
    <label>Dashboard Mode</label>
  </div>

  <div class="panel-info">
    <label>Mode</label>
    <select (change)="onSelectMode($event.target.value)">
      <option *ngFor="let mode of dashboardModes" value={{mode.value}}>
         {{mode.type}}
      </option>
    </select>
  </div>
</div>
