.divlarge {
  min-width: 350px;
  height: 100%;
}

.divsmall {
  min-width: 350px;
  height: 50%;
}

.code-block-div {
  width:100%;
	height:100%;
	background-color:#595859;
}

code {
  color: #fff;
  display: inline-block;
  white-space: pre-wrap;
}

pre {
  height: 100%;
}

.explorer-bar {
  text-align: right;
  background-color: #000;
}

.secondary-panel {
  margin-left: 20px;
}

.header {
  padding: 15px 5px 5px 0;
  font-size: 20px;
}

.button {
  padding: 5px 10px;
  color: #fff;
}
