<div [ngClass]="setExplorerDiv()">
  <div class="explorer-bar">
    <button class="btn btn-sm" (click)="runCode($event)" type="button">
      Run
    </button>
  </div>

  <div class="code-block-div">
  <pre>
    <code [innerHTML]=codeSnippet?.code>
    </code>
  </pre>

</div>
  <div class="secondary-panel" *ngIf="codeSnippet?.selection === 2">
    <div>
      <label>Session Information</label>
    </div>

    <div>
      <label>sessionCode</label>
      <input type="text" [(ngModel)]="sessionTest.code"/>
    </div>

    <div>
      <label>sessionId</label>
      <input type="text" [(ngModel)]="sessionTest.id"/>
    </div>
  </div>

  <div class="secondary-panel" *ngIf="codeSnippet?.selection === 4 || codeSnippet?.selection === 5 || codeSnippet?.selection === 6 || codeSnippet?.selection === 7">
    <div>
      <label>Data source configuration</label>
    </div>

    <div>
      <label>Data Source</label>
      <select (change)="onSelect($event.target.value)">
        <option *ngFor="let dataSource of dataSources" value={{dataSource.value}}>
           {{dataSource.type}}
        </option>
      </select>
    </div>


  </div>

</div>
