.divlarge {
  min-width: 350px;
  height: 100%;
}

.divsmall {
  min-width: 350px;
  height: 50%;
}

.code-block-div {
  width:100%;
	background-color:#595859;
  height: 100%;
}

code {
  color: #eaeaea;
  display: inline-block;
  white-space: pre-wrap;
  margin-top: 40px;
}

pre {
  height: 100%;
}

.explorer-bar {
  background-color: #000;
  width: 100%;
  position: absolute;
}

.secondary-panel {
  margin-left: 20px;
}

.header {
  padding: 15px 5px 5px 0;
  font-size: 20px;
}

.button {
  padding: 5px 10px;
  color: #fff;
  cursor: pointer;
  width: 75px;
  float: right;
}

.column-left {
    width: 8%;
    padding: 1em;
    background-color: #343334;
}

.column-right {
    width: 92%;
    padding: 1em;
    margin-left: -4em;
}
